sample-data/0.5bar fork.csv
sample-data/0.5bar lcmn.csv
sample-data/2bar fork.csv
sample-data/2bar lcmn.csv
sample-data/5bar fork.csv
sample-data/5bar lcmn.csv
sample-data/8bar_new fork.csv
sample-data/8bar_new lcmn.csv
sample-data/8bar_old fork.csv
sample-data/8bar_old lcmn.csv
sample-data/10bar fork.csv
sample-data/10bar lcmn.csv
sample-data/15bar fork.csv
sample-data/15bar lcmn.csv
sample-data/20bar fork.csv
sample-data/20bar lcmn.csv
sample-data/23bar.csv
sample-data/25bar fork.csv
sample-data/25bar lcmn.csv
sample-data/27bar.csv
sample-data/29bar fork.csv
sample-data/29bar lcmn.csv
sample-data/29bar new.csv
sample-data/DATA2022-04-28_1.csv
